<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href='home.css' />
    <title></title>
  </head>
  <body>
    <!-- <div class="home-grid">
      <div> col 1
      </div>
      <div> col2 </div>
    </div> -->
  </body>
</html>
