
    <section>
        <p class="bname">Carmen's  Cakes  and  Sweet  Shoppe..</p>
    </section>

    <div class="container">
      <div class="row">
        <div class="col-sm">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="images/homecookie2.jpg" alt="Card image cap">
              <div class="card-body">
                <a href="/cookies" class="btn btn-primary" style="background-color: rgb(140, 39, 72);">Shop Cookies</a>
            </div>
          </div>
        </div>


        <div class="col-sm">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="images/homecake2.png" alt="Card image cap">
              <div class="card-body">
                <a href="/cakes" class="btn btn-primary" style="background-color: rgb(140, 39, 72);">Shop Cakes</a>
                <!-- <button class="sbtn" a href="/cakes"> Shop Cakess</button> -->
            </div>
          </div>
        </div>


        <div class="col-sm">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="images/homemuf2.jpg" alt="Card image cap">
              <div class="card-body">
                <a href="/muffins" class="btn btn-primary" style="background-color: rgb(140, 39, 72);">Shop Muffins</a>
            </div>
          </div>
        </div>
      </div>
    </div>

<section class="space">
</section>

<footer>
  <p id="history"> Family owned and happily serving the community since 1949</p>
  <p><i class="fas fa-location-arrow"></i>123 Main Street,  Katona NY,  14462 &emsp;&emsp;   <i class="fas fa-phone"></i> 914-123-4567</p>
  <p id="social"><i class="fab fa-facebook-f"></i>&emsp;&emsp;<i class="fab fa-twitter">&emsp;&emsp;</i><i class="fab fa-instagram"></i></p>
  <p id="copy"><i class="far fa-copyright"></i>2018<p>
</footer>
