
    <section>
        <p class="bname">Carmen's  Cakes  and  Sweet  Shoppe..</p>
    </section>

    <div class="container">
      <div class="row">
        <div class="col-sm">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="images/homecookie2.jpg" alt="Card image cap">
              <div class="card-body">
                <a href="/cookies" class="btn btn-primary">Shop Cakes</a>
            </div>
          </div>
        </div>


        <div class="col-sm">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="images/homecake2.png" alt="Card image cap">
              <div class="card-body">
                <a href="/cakes" class="btn btn-primary" style="align: center">Shop Cakes</a>
            </div>
          </div>
        </div>


        <div class="col-sm">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="images/homemuf2.jpg" alt="Card image cap">
              <div class="card-body">
                <a href="/muffins" class="btn btn-primary">Shop Muffins</a>
            </div>
          </div>
        </div>
      </div>
    </div>
