<!DOCTYPE html>
<html>
<head>

<link type="text/css" rel="stylesheet" href='main.css' />


<title></title>
</head>

<body>
<h1>testing</h1>

<%= yield %>
<p></p>


<script src="main.js"></script>
</body>

</html>
