<!DOCTYPE html>
<html>
<head>

<link type="text/css" rel="stylesheet" href='main.css' />


<title></title>
</head>

<body>
<h1>testing</h1>

<%= yield %>
<p></p>

<form action='/user' method='GET'>
    <input type='email' name='email'>
    <input type='submit' value='find user'>
</form>

<script src="main.js"></script>
</body>

</html>
