<!DOCTYPE html>
<html>
<head>

<link type="text/css" rel="stylesheet" href='main.css' />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Handlee" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

<title></title>
</head>




<div class='nav'>
<ul>
 <li><i class="fas fa-home"></i><a href="home">Home</a></li>
 <li><i class="fas fa-cookie-bite"></i><a href="cookies">Cookies</a></li>
 <li><i class="fas fa-birthday-cake"></i><a href="cakes">Cakes</a></li>
 <li><i class="fas fa-birthday-cake"></i><a href="muffins">Muffins</a></li>
 <li><i class="fas fa-users"></i><a href="events">Events</a></li>
</ul>
</div>


<body>
<h1></h1>

<%= yield %>
<p></p>



<script src="main.js"></script>
</body>

</html>
