

html {
  background-image: url('images/homehomea.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 40vh;

  /* background-color: rgb(255, 208, 198); */
}

/* .home-grid {
  display:grid | inline-grid;
  grid-template-columns: 50% 50%;

} */
